{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>shop</title>
  </head>
  <body>
    {% include 'menus.html' %}
    <h1>Shop</h1>
    <div class="shop-page">
      <div class="product">
        <img src="{% static 'image.png' %}" alt="" />
        <h2>OnePlus</h2>
        <span>Price - ₹999</span>
        <input type="button" value="Buy Now" />
      </div>

      <div class="product">
        <img src="{% static 'image.png' %}" alt="" />
        <h2>OnePlus</h2>
        <span>Price - ₹999</span>
        <input type="button" value="Buy Now" />
      </div>

      <div class="product">
        <img src="{% static 'image.png' %}" alt="" />
        <h2>OnePlus</h2>
        <span>Price - ₹999</span>
        <input type="button" value="Buy Now" />
      </div>

      <div class="product">
        <img src="{% static 'image.png' %}" alt="" />
        <h2>OnePlus</h2>
        <span>Price - ₹999</span>
        <input type="button" value="Buy Now" />
      </div>

      <div class="product">
        <img src="{% static 'image.png' %}" alt="" />
        <h2>OnePlus</h2>
        <span>Price - ₹999</span>
        <input type="button" value="Buy Now" />
      </div>

      <div class="product">
        <img src="{% static 'image.png' %}" alt="" />
        <h2>OnePlus</h2>
        <span>Price - ₹999</span>
        <input type="button" value="Buy Now" />
      </div>

      <div class="product">
        <img src="{% static 'image.png' %}" alt="" />
        <h2>OnePlus</h2>
        <span>Price - ₹999</span>
        <input type="button" value="Buy Now" />
      </div>

      <div class="product">
        <img src="{% static 'image.png' %}" alt="" />
        <h2>OnePlus</h2>
        <span>Price - ₹999</span>
        <input type="button" value="Buy Now" />
      </div>

      <div class="product">
        <img src="{% static 'image.png' %}" alt="" />
        <h2>OnePlus</h2>
        <span>Price - ₹999</span>
        <input type="button" value="Buy Now" />
      </div>

      <div class="product">
        <img src="{% static 'image.png' %}" alt="" />
        <h2>OnePlus</h2>
        <span>Price - ₹999</span>
        <input type="button" value="Buy Now" />
      </div>
    </div>
  </body>
</html>
